/*@author Derrick Hunt*/
/*@date 4/16*/
/*@version 1.0*/

/*embed fonts (in case of no internet connection)*/
@font-face {
    font-family:'Bank Gothic Md';
    src: url('fonts/bgothm-webfont.eot');
    src: url('fonts/bgothm-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bgothm-webfont.woff') format('woff'),
         url('fonts/bgothm-webfont.ttf') format('truetype'),
         url('fonts/bgothm-webfont.svg#bankgothic_md_btmedium') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Nova Square';
    src: url('fonts/-webfont.eot');
    src: url('fonts/novasquare-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novasquare-webfont.woff') format('woff'),
         url('fonts/novasquare-webfont.ttf') format('truetype'),
         url('fonts/novasquare-webfont.svg#nova_squarebook') format('svg');
    font-weight:normal;
    font-style:normal;
}

html, body{
	width:100%;
	height:100%;
}

body{
	background-color:#111111;
	background-image:url('back_grid.png');
}

/*holds the game logo and title*/
h1{
	margin-top:0%;
	padding-top:4%;
	margin-left:13%;
	margin-bottom:3%;
	text-align:left;
	font-family:'Bank Gothic Md', sans-serif;
	color:white;
	font-size:5em;
	font-style:italic;
	text-shadow:0 0 20px rgba(125, 210, 90, .75);
	display:none;
}

.col{
	width:16.5%;
	margin-top:4%;
	margin-left:6%;
	margin-bottom:0;
	text-align:left;
	font-family:'Nova Square', sans-serif;
	color:white;
	font-size:1.75em;
	text-shadow:0 0 20px rgba(125, 210, 90, .75);
	float:left;
}

.col_short{
	width:16.5%;
	height:20%;
	margin-top:4%;
	margin-left:6%;
	margin-bottom:0;
	text-align:left;
	font-family:'Nova Square', sans-serif;
	color:white;
	font-size:1.75em;
	text-shadow:0 0 20px rgba(125, 210, 90, .75);
	float:left;
}

.creditBar{
	margin-top:-15%;
	margin-left:0%;
	margin-bottom:25%;
}

/*fix box size with borders*/
*, 
*:before, 
*:after {
  -webkit-box-sizing:border-box; 
  box-sizing:border-box;
 }

/*general style*/
#b1
{
	color:white;
	font-family:'Nova Square', sans-serif;
	color:white;
	background:rgba(50, 120, 75, .75);
	box-shadow: inset 0px 0px 15px 5px rgba(125, 210, 90, .75);
	border:2px solid #7DD25A;
	text-align:center;
	text-shadow:0 0 15px rgba(125, 210, 90, .75);
	float:left;
	display:none;
}
#b1:hover{/*exit button is red*/
	color:#802121;
	background:rgba(255, 120, 90, .75);
	box-shadow: 0px 0px 15px 5px rgba(255, 60, 60, .75);
	border:none;
	text-shadow:0 0 15px rgba(255, 60, 60, .75);
	font-weight:bold;
}

/*set sizes+positions*/
#b1{
	margin-top:2%;
	margin-left:6%;
	padding:2%;
	width:18%;
	height:30%;
	font-size:3em;
}
